@font-face {
    font-family: "garamond";
    src: url(garamond3/Garamond3LTStd.otf);
    font-family: "interstate";
    src: url(interstate/Interstate-Regular.otf);
}
body {
    color: #001A57;
    text-align: center;
}

h1 {
    font-size: 3.5em;
    font-family: 'garamond';
}

p {
   font-family: "interstate";
}

.paragraph {
    width: 60%;
    margin: auto;
}